# Автоматически создаваемые папки сборки
src/obj/
src/obj_tests/
src/coverage_report/

# Библиотеки и исполняемые файлы
src/s21_decimal.a
src/*.a
src/*.so
src/*.dylib

# Файлы покрытия кода
*.gcda
*.gcno
*.gcov

# Резервные копии и временные файлы
*~
*.swp
*.swo
*.backup
*.tmp

# Файлы редакторов/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.DS_Store

# Логи и отчеты
*.log
*.out