# Автоматически создаваемые папки сборки
src/obj/
src/obj_tests/
src/coverage_report/

# Автоматически генерируемая документация Doxygen
/docs/
/docs/**/*

# Объектные файлы и бинарные файлы сборки
/obj/
/obj/**/*
/obj_tests/
/obj_tests/**/*

# Отчеты о покрытии кода
/coverage_report/
/coverage_report/**/*

# Библиотеки и исполняемые файлы
src/s21_decimal.a
src/*.a
src/*.so
src/*.dylib

# Файлы покрытия кода
*.gcda
*.gcno
*.gcov

# Резервные копии и временные файлы
*~
*.swp
*.swo
*.backup
*.tmp

# Файлы редакторов/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.DS_Store

# Логи и отчеты
*.log
*.out